body {
    font-family: Arial, sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background_img.png');
    background-position: center;
    background-size: cover;
}

#container {
    background-color: #fff;
    width: 600px;
    height: 610px;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px white;
    text-align: center;
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(5px);
}

input {
    width: 95%;
    margin-bottom: 30px;
    padding-left: 50px;
    padding: 12px;
    border: none;
    outline: none;
    border: 2px white solid;
    border-radius: 40px;
    background: transparent;
    font-size: 18px;
    color: white;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
    color: white;
}

h1 {
    font-size: 50px;
    margin-bottom: 60px;
    margin-top: 5px;
    color: orange;
}

button {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border: 2px black solid;
    border-radius: 15px;
    background: transparent;
    color: black;
    font-weight: bold;
    background-color: #b37300;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #ffae1a;
}

#results {
    height: 160px;
    width: 100%;
    color: #ffe4b3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 0px 5px 0px; 
}

.weightOnPlanets {
    font-size: 15px;
    align-self: center;
    justify-self:flex-start;
    padding: 8px;
    margin-inline-start: 22px;
}

#title {
    text-align: start;
    font-size: 18px;
    color: #e69500;
    margin: 8px 0px 5px 7px;
    font-weight: 600;
}